@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;500;700&display=swap');


*{
  margin: 0;
  padding: 0  ;
  box-sizing: border-box;
}


html,
body,
#root,
.app,
.content {
  height: 100%;
  width: 100%;
  font-family: 'Montserrat', sans-serif;
}
.app {
  display:flex;
  position: relative;
}

::-webkit-scrollbar-track{
  background: #e0e0e0;
}

::-webkit-scrollbar-thumb{
 background: #e0e0e0;
}

::-webkit-scrollbar-track:hover {
  background: #555;
}

